<!DOCTYPE html>

{% load staticfiles %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Provides a platform for sharing recipes."
    />
    <meta
      name="author"
      content="Andrew Holligan, Nicole Sung, Jeval Halton, Andrew McGill, Andrew Shaw, Layla Clark"
    />

    <title>Pantry - {% block title_block %}{% endblock %}</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/base/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base/nav.css' %}" />
    {% block css_block %}{% endblock %}
  </head>

  <body>
    <!-- HEADER -->
    <header class="header-logo">
      <div class="logo">
        <img src="{% static 'images/pantry-logo.png' %}" alt="Pantry Logo" />
        <div class="spacer"></div>
        <h1>Pantry</h1>
      </div>
      <div class="slogan">
        <em>"designed by food lovers, for food lovers"</em>
      </div>
    </header>

    <!-- NAVBAR -->
    <nav class="navbar">
      <div class="general">
        <a href="">
          <img src="{% static 'images/navbar-home.svg' %}" />
          Home
        </a>

        <a href="">
          <img src="{% static 'images/navbar-about.svg' %}" />
          About
        </a>

        <a href="">
          <img src="{% static 'images/navbar-recipes.svg' %}" />
          Recipes
        </a>
      </div>

      <div class="vertical-spacer"></div>

      <div class="user">
        <a href="">
          <img src="{% static 'images/navbar-signup.svg' %}" />
          Sign Up
        </a>

        <div class="spacer"></div>

        <a href="">
          <img src="{% static 'images/navbar-login.svg' %}" />
          Login
        </a>

        <!-- <a href="">
          <img src="{% static 'images/navbar-profile.svg' %}" />
          Profile
        </a>

        <div class="spacer"></div>

        <a href="">
          <img src="{% static 'images/navbar-logout.svg' %}" />
          Logout
        </a> -->
      </div>
    </nav>

    {% block main_block %}{% endblock %}

    <!-- JS -->
    {% block js_block %}{% endblock %}
  </body>
</html>
