:root {
  --color-1: #f24c00;
  --color-2: #f9c784;
  --color-3: #f6f6f6;

  --font: Arial;

  --recipe-image-width: 8.8rem;
  --recipe-image-height: 5rem;

  --animation-time: 0.3s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-family: var(--font);
}
