/* HEADER CONTAINER */

.header-logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 3rem;

  padding-inline: 12.5%;

  background: var(--color-2);
  color: var(--color-1);
}

/* LOGO / SLOGAN */

.header-logo .logo,
.header-logo .slogan {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.header-logo .logo img {
  height: 100%;
}

.header-logo .logo .spacer {
  width: 0.2rem;
  height: 50%;

  margin-inline: 1rem;

  border-radius: 25%;

  background: var(--color-1);
}

.header-logo .slogan em {
  color: var(--color-1);
}

/* WINDOW WIDTH CHANGE */

@media (max-width: 50rem) {
  .header-logo .slogan {
    display: none;
  }

  .header-logo {
    justify-content: space-evenly;
  }
}
