:root {
    --color-1: #8d8c8a;
    --color-2: #132dbf;
    --color-3: #f6f6f6;

    --header-nav-height: 1.5rem;

    --font: Arial;
}

body {
    margin: 0;
    padding: 0;

    font-family: var(--font);
}