{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %} {% endblock %}

<!-- TITLE -->
{% block title_block %} About {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<!-- HEADER -->
<h3>About Us</h3>

<div class="container">

  <!-- LOGO IMAGE -->
  <div class="logo">
    <img src="{% static 'images/pantry-logo.png' %}" alt="Pantry Logo" />
  </div>

  <!-- ABOUT TEXT -->
  <div class="text">
    <!-- 'span' tag used for bold and colour important words/phrases -->
    <p>
      We created <span>Pantry</span> with the goal of connecting cooking
      enthusiasts worldwide.
    </p>
    <p>
      Our platform is designed to help you
      <span>connect with other food lovers</span> and really
      <span>share the love of food</span>.
    </p>
    <p><span>Search for a recipe today!</span></p>
    <p>
      <span>Join us today</span> and start sharing your food experiences,
      connecting with others, and more!
    </p>
  </div>

  <!-- OUR TEAM TEXT -->
  <div class="team">
    <!-- 'span' tag used for bold and colour important words/phrases -->
    <p>
      This project was made with lots of <span>LOVE</span> from
      <span>WAD2 Team 5B &lt;3</span>
    </p>
    <p>
      We are a group of students with a likeminded
      <span>passion for food</span>.
    </p>
    <p>
      We understood the <span>importance of food</span> and how it
      <span>brings people together</span>, and we wanted to create a platform
      that would allow people to <span>share their love for food</span>.
    </p>
  </div>

</div>
{% endblock %}
