{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/about.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %} {% endblock %}

<!-- TITLE -->
{% block title_block %} About {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<!-- HEADER -->
<h3>About Us</h3>

<div class="container">

  <!-- LOGO IMAGE -->
  <div class="logo">
    <img src="{% static 'images/pantry-logo.png' %}" alt="Pantry Logo" />
  </div>

  <!-- ABOUT TEXT  -->
  <div class="text">
    <!-- 'span' tag used for bold and colour important words/phrases -->
    <p>
      Hello and welcome to <span>Pantry</span>.
    </p>
    <p>
      Our wesbite was created as a platform for recipe sharing, allowing users across the globe to
      <span>connect</span> over a common <span>love of food</span>.
    </p>
    <p>
      Whether you are a bona fide cooking <span>aficionado</span> or a complete <span>beginner</span>, 
      rest assured, our community will have something for <span>you</span>.
    </p>
    <p>So please <a class="recipes" href="{% url 'pantry:recipes' %}"><span>search for a recipe today!</span></a></p>
  </div>

  <!-- OUR TEAM TEXT -->
  <div class="team">
    <!-- 'span' tag used for bold and colour important words/phrases -->
    <p>
      This project was made by <span>WAD2 Team 5B</span> with a whole lotta <span>LOVE &lt;3</span>.
    </p>
    <p>
      We are a group of students with a shared
      <span>passion</span> for food.
    </p>
    <p>
      We believe that food  <span>important</span>  in bringing 
      <span>people together</span>, which led us to create this platform
      in order to encourage a similar <span>appreciation of food</span> within others. 
    </p>
  </div>

</div>
{% endblock %}
