{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/index.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %} {% endblock %}

<!-- TITLE -->
{% block title_block %} Home {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<!-- SEARCH BAR -->
<form
  role="form"
  id="search-form"
  method="post"
  action="{% url 'pantry:index' %}"
>
  {% csrf_token %}
  <div class="search-bar">
    <input
      type="text"
      id="search"
      name="search_query"
      placeholder="search a recipe"
    />
    <input type="submit" id="submit" value="search" />
  </div>
</form>

<!-- HIGHEST RATED RECIPES -->
<h3>{{ num_highest_rated }} Highest Rated Recipes</h3>
<div id="highest-rated-recipes">
  {% for recipe in highest_rated_recipes %}
  <a class="recipe-card" href="{{ recipe.link }}">
    <h6>{{ recipe.name }}</h6>
    <img src="{{ recipe.image }}" />
  </a>
  {% endfor %}
</div>

<!-- NEWEST RECIPES -->
<h3>{{ num_newest }} Newest Recipes</h3>
<div id="newest-recipes">
  {% for recipe in newest_recipes %}
  <a class="recipe-card" href="{{ recipe.link }}">
    <h6>{{ recipe.name }}</h6>
    <img src="{{ recipe.image }}" />
  </a>
  {% endfor %}
</div>
{% endblock %}
