{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- where to update bookmark selection/deselection? like/unlike?
new view to handle -->
<!-- how to grab the recipe id? -->
<!-- click on a link that takes you to recipe view -->

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/recipe.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %}
<script src="{% static 'js/pages/recipe.js' %}"></script>
{% endblock %}

<!-- TITLE -->
{% block title_block %} Recipe {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<!-- RECIPE HEADER -->
<header class="recipe-header">
  <div class="left-aside">
    <a class="user" href="{% url 'pantry:user-profile' recipe.user.id %}"
      >{{ recipe.user.username }}</a
    >
    <p>{{ recipe.pub_date }}</p>
  </div>
  <h3>{{ recipe.title }}</h3>
  <div class="right-aside">
    {% if user.is_authenticated %}
    <div id="stars"></div>
    <button id="bookmark"></button>
    {% endif %}
  </div>
</header>

<!-- RECIPE INFO -->
<div class="recipe-info">
  <div class="description">
    <img src="{{ MEDIA_URL }}{{ recipe.image }}" />
    <p>{{ recipe.desc }}</p>
  </div>

  <div class="info">
    <ul>
      <li>
        <img src="{% static 'images/star.svg' %}" />
        {{ recipe.rating }}
      </li>
      <li>{{ recipe.saves }} saves</li>
      <li>{{ recipe.difficulty }}</li>
      <li>{{ recipe.cuisine }}</li>
      <li>Prep - {{ recipe.prep }}h</li>
      <li>Cook - {{ recipe.cook }}h</li>
    </ul>
  </div>
</div>

<!-- RECIPE FACTS -->
<div class="recipe-facts">
  <div class="steps">
    <h5>Steps</h5>
    <ul>
      {% for step in steps %}
      <li>{{ step }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="ingredients">
    <h5>Ingredients</h5>
    <ul>
      {% for ingredient in ingredients %}
      <li>{{ ingredient }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="categories">
    <h5>Categories</h5>
    <ul>
      {% for category in recipe.categories.all %}
      <li>{{ category.type }}</li>
      {% endfor %}
    </ul>
  </div>
</div>

<!-- REVIEWS -->
<h3 id="review-header">Reviews</h3>

{% if user.is_authenticated %}
<div class="user-review">
  <textarea id="review" placeholder="I love this recipe..."></textarea>
  <div class="user-review-submit-container">
    <button id="user-review-submit">post</button>
  </div>
</div>
{% endif %} {% for review in reviews %}
<div class="review">
  <div class="review-aside">
    <div>
      <a class="user" href="{% url 'pantry:user-profile' review.user.id %}"
        >{{ review.user.username }}</a
      >
      <p>{{ review.date_pub }}</p>
    </div>

    <div class="review-rating">
      {% if user.is_authenticated %}
      <button class="review-heart"></button>
      {% else %}
      <img
        class="review-heart-image"
        src="{% static 'images/heart-empty.svg' %}"
      />
      {% endif %}
      <p class="review-likes">{{ review.likes }}</p>
    </div>
    <p class="review-text">{{ review.review }}</p>
  </div>
  {% endfor %} {% endblock %}
</div>
