{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/recipes.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %}
<!-- pass in star image -->
<script src="{% static 'js/pages/recipes.js' %}"></script>
{% endblock %}

<!-- TITLE -->
{% block title_block %} Recipes {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<h3>Find Recipes</h3>

<form id="search-form" method="" action=".">
  <!-- LEFT COLUMN -->
  <div class="left-container">
    <!-- CREATE RECIPE LINK -->
    <a href="">Create A Recipe</a>

    <!-- FILTER DIFFICULTY -->
    <h5>Filter Difficulty</h5>
    <div class="container-difficulty">
      <button id="btn-beginner" class="btn-difficulty" value="beginner">
        beginner
      </button>
      <button id="btn-intermediate" class="btn-difficulty" value="intermediate">
        intermediate
      </button>
      <button id="btn-expert" class="btn-difficulty" value="expert">
        expert
      </button>
    </div>

    <!-- FILTER CUISINE -->
    <h5>Filter Cuisine</h5>
    <div id="cuisine-list"></div>

    <!-- FILTER CATEGORY -->
    <h5>Filter Category</h5>
    <div id="category-list"></div>

    <!-- SORT BY -->
    <h5>Sort By</h5>
    <div class="container-sort-by">
      <button id="btn-rating" class="btn-sort-by" value="rating">rating</button>
      <button id="btn-newest" class="btn-sort-by" value="newest">newest</button>
      <button id="btn-saves" class="btn-sort-by" value="saves">saves</button>
      <button id="btn-reviews" class="btn-sort-by" value="reviews">
        reviews
      </button>
    </div>
  </div>

  <!-- RIGHT COLUMN -->
  <div class="right-container">
    <!-- SEARCH BAR -->
    <input type="text" id="search" placeholder="search a recipe" />

    <!-- SEARCH RESULTS -->
    <div id="search-results">
      {% for recipe in recipes %}
      <a class="recipe" href="{{ recipe.link }}">
        <img src="{{ recipe.image }}" />
        <ul>
          <li>{{ recipe.name }}</li>
          <li>
            <img src="{% static 'images/star.svg' %}" />
            {{ recipe.rating }}
          </li>
          <li>{{ recipe.saves }} saves</li>
          <li>{{ recipe.difficulty }}</li>
          <li>{{ recipe.cuisine }}</li>
          <li>Prep - {{ recipe.prep }}h</li>
          <li>Cook - {{ recipe.cook }}h</li>
        </ul>
      </a>
      {% endfor %}
    </div>
  </div>

  <!-- HIDDEN SUBMISSIONS -->
  <input type="hidden" id="difficulty" name="difficulty" />
  <input type="hidden" id="cuisines" name="cuisines" />
  <input type="hidden" id="categories" name="categories" />
  <input type="hidden" id="sort-by" name="sort-by" />
</form>
{% endblock %}
