{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/user-data.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %}
<script type="text/javascript">
  const csrfToken = "{{ csrf_token }}";
</script>
<script type="module" src="{% static 'js/pages/user-data.js' %}"></script>
{% endblock %}

<!-- TITLE -->
{% block title_block %} {{ page_name }} {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<!-- HEADER -->
<h3>{{ page_name }}</h3>

<!-- SORT BUTTONS -->
<div class="container">
  <div class="container-sort-by">
    <h5>Sort By</h5>
    <div>
      <button id="btn-newest" class="btn-sort-by btn-sort-by-active" value="newest">newest</button>
      <button id="btn-oldest" class="btn-sort-by" value="oldest">oldest</button>
    </div>
  </div>
</div>


<!-- MY RECIPES / MY SAVED RECIPES / MY REVIEWS -->
<ul id="data-list">

  {% for data in user_data %}
  {% comment %} gets date ISO 8601 format so js can cast to date obj {% endcomment %}
  <li data-date = "{{data.pub_date|date:"c"}}">
    {% if is_reviews_page %}

    <a class="data-card" href="{% url 'pantry:recipe' data.recipe.user.id data.recipe.id %}">
      <!-- reviews page 'data' will be given as Review Model -->
      <h5>{{ data.recipe.title }}</h5>
      <p>{{ data.review }}</p>
    </a>

    {% elif is_saved_recipes_page %}

    <a class="data-card" href="{% url 'pantry:recipe' data.recipe.user.id data.recipe.id %}">
      <!-- saved recipes page 'data' will be given as SavedRecipes model -->
      <h5>{{ data.recipe.title }}</h5>
      <img src="{{ MEDIA_URL }}{{ data.recipe.image }}" />
    </a>

    {% else %}

    <a class="data-card" href="{% url 'pantry:recipe' data.user.id data.id %}">
      <!-- user recipes page 'data' will be given as Recipe Model -->
      <h5>{{ data.title }}</h5>
      <img src="{{ MEDIA_URL }}{{ data.image }}" />
    </a>

    {% endif %}

    <!-- REMOVE BUTTON -->
    {% if own_profile %}
    <button class="btn-remove" value="{{ data.id }}">remove</button>
    {% endif %}
    
  </li>
  {% endfor %}

</ul>
{% endblock %}
