{% extends 'pantry/base/base.html' %} {% load staticfiles %}

<!-- CSS -->
{% block css_block %}
<link rel="stylesheet" href="{% static 'css/pages/user-profile.css' %}" />
{% endblock %}

<!-- JS -->
{% block js_block %} {% endblock %}

<!-- TITLE -->
{% block title_block %} User Profile {% endblock %}

<!-- CONTENT -->
{% block main_block %}
<h3 id="user">{{ user.username }}</h3>

<div class="super-container">
  <!-- BIO -->
  <div class="bio">
    <img src="{{ MEDIA_URL }}{{ user_profile.image }}" />
    <p>{{ user_bio }}</p>
  </div>

  <!-- TOOLS -->
  <div class="tools">
    <!-- SEARCH -->
    <div class="search">
      <input
        type="text"
        id="search"
        name="search_query"
        placeholder="search a user"
      />
      <ul id="search-results"></ul>
    </div>

    <!-- LINKS -->
    <ul class="links">
      {% if own_profile %}
      <li>
        <a href="{% url 'pantry:edit-profile' user.id %}">Edit Profile</a>
      </li>
      <li><a href="{% url 'pantry:create-a-recipe' %}">Create A Recipe</a></li>
      <li>
        <a href="{% url 'pantry:user-recipes' user.id %}">My Recipes</a>
      </li>
      <li><a href="{% url 'pantry:user-reviews' user.id %}">My Reviews</a></li>
      <li>
        <a href="{% url 'pantry:saved-recipes' user.id %}">Saved Recipes</a>
      </li>
      {% else %}
      <li>
        <a href="{% url 'pantry:user-recipes' user.id %}"
          >{{ user.username }} Recipes</a
        >
      </li>
      <li>
        <a href="{% url 'pantry:user-reviews' user.id %}"
          >{{ user.username }} Reviews</a
        >
      </li>
      <li>
        <a href="{% url 'pantry:saved-recipes' user.id %}"
          >{{ user.username }}'s Saved Recipes</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
</div>
{% endblock %}
