h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;

  color: var(--color-1);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 75%;
  height: 20rem;

  padding: 0.5rem;

  font-size: 0.75rem;
}

.container .text {
  margin-inline: 1rem;
}

/* IMAGE */

.container .logo {
  display: flex;

  height: 100%;
  width: 16rem;
  min-width: 16rem;

  border-radius: 1rem;
}

/* TEXT / TEAM */

.container .team,
.container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  width: 16rem;
  min-width: 16rem;

  padding: 3rem;

  border-radius: 1rem;
  box-shadow: 0 0 0.5rem grey;
}

.container span {
  color: var(--color-1);

  font-weight: bold;
}

a.recipes {
  text-decoration: none;
  color: inherit;
}

.container .text p:not(:first-child),
.container .team p:not(:first-child) {
  margin-top: 1rem;
}

/* WINDOW WIDTH CHANGE */
@media (max-width: 65rem) {
  .container .logo {
    display: none;
  }
}

@media (max-width: 50rem) {
  .container {
    flex-direction: column;
    justify-content: center;

    height: auto;
  }

  .container .text {
    margin-inline: 0px;
  }

  .container .text,
  .container .team {
    width: 20rem;
    min-width: 20rem;

    margin-bottom: 2rem;
    margin-right: 0;
  }
}
