h3 {
  color: var(--color-1);

  margin: 1rem;
}

h5 {
  color: var(--color-1);

  margin-bottom: 0.5rem;
}

/* SORT BY */

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 75%;

  margin-bottom: 1rem;
}

.container-sort-by {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-sort-by div {
  display: flex;
}

.btn-sort-by {
  width: 6.6rem;

  padding: 0.25rem;
  margin-bottom: 1rem;

  border: 0.1rem solid var(--color-1);

  color: var(--color-1);
  background-color: transparent;
}

.btn-sort-by:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}

.btn-sort-by:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.btn-sort-by:hover {
  background-color: var(--color-2);

  cursor: pointer;
}

.btn-sort-by-active,
.btn-sort-by-active:hover {
  color: var(--color-3);
  background-color: var(--color-1);

  font-weight: bold;
}

/* DATA */

#data-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 75%;
  /* (total width - 3 data cards widths [number of columns]) / number of spaces */
  column-gap: calc((100% - 633.6px) / 2);
  row-gap: 2rem;

  margin-bottom: 2rem;
}

#data-list li {
  display: flex;
  flex-direction: column;
  align-items: center;

  list-style-type: none;
}

.data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 0.5rem;

  border-radius: 1rem;
  box-shadow: 0 0 0.5rem gray;

  text-decoration: none;
}

/* if we hover on button dont do background color */
.data-card:hover {
  background-color: var(--color-2);
}

.data-card img {
  /* scaled (roughly) */
  height: 7.5rem;
  width: 13.2rem;

  border-radius: 1rem;

  background-color: var(--color-1);
}

/* if review */

.data-card p {
  height: 7.5rem;
  width: 13.2rem;

  padding: 0.5rem;

  border-radius: 1rem;
  border: 0.1rem solid var(--color-1);

  overflow-wrap: break-word;
  overflow-y: auto;

  color: black;
  font-size: 0.75rem;
}

.btn-remove {
  margin-top: 0.5rem;
  padding: 0.25rem;
  padding-inline: 2rem;

  border-radius: 0.5rem;
  border: none;

  background-color: red;
  color: var(--color-3);
}

.btn-remove:hover {
  cursor: pointer;

  font-weight: bold;
}

/* WINDOW WIDTH CHANGE */

@media (max-width: 56rem) {
  #data-list {
    column-gap: calc(100% - 422.4px);
  }
}

@media (max-width: 50rem) {
  .container {
    align-items: center;
  }

  .btn-sort-by {
    width: 10rem;
  }

  #data-list,
  .data-card {
    width: 20rem;
  }

  .data-card img,
  .data-card p {
    /* scaled (roughly) */
    height: 11.35rem;
    width: 20rem;
  }
}
